<h1>Insert Enfermo</h1>

<form method="post">
    <label>Apellido</label>
    <input type="text" name="apellido"/>
    <hr/>
    <label>Direccion</label>
    <input type="text" name="direccion"/>
    <hr/>
    <label>Sexo</label>
    <input type="text" name="sexo"/>
    <hr/>
    <label>Nss</label>
    <input type="text" name="nss"/>
    <hr/>
    <button>Insertar</button>
</form>
